@font-face {
    font-family: noto sans kr;
    src: url(../fonts/NotoSansKR.ttf);
}
@font-face {
    font-family: pacifico;
    src: url(../fonts/Pacifico.ttf);
}
:root{
    font-family: noto sans kr;
    --main-color:#a3cca3;
    --back-color:#fff;
    --point-color:#b5d692;
    --gray222: #222;
    --txt444: #444;
    --gray666: #666;
    --gray999: #999;
    --grayaaa:#aaa;
}

.intro{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;            
    font-family: pacifico;
    align-items: center;
    animation: ani-show 1s 1.5s 1 alternate forwards;
    opacity:1;
    background: var(--back-color);
    color: var(--main-color);
}
@keyframes ani-show{
    0%{opacity: 1;}
    100%{opacity:0;}
} 
.intro img{
    width: 150px;
}
.skip-menu a{
    position:fixed;
    left:50%;
    top:0;
    transform:translate(-50%,-62px);
    padding:1em 2em;
}
.skip-menu a:focus{
    transform:translate(-50%,0);
}
.wrap{
    opacity:0;
    animation: ani-show 1s 1.5s 1 reverse forwards;
}
.header{
    position: relative;
}
.header .container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 10px;
}
.header span{
    display: none;
}
.btn-nav{
    margin: 5% 10%;
    grid-area:1/1/2/2;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.btn-close{
    display: none;
    position: absolute;
    top: 22%;
    left: 2.5%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.logo{
    grid-area:1/2/2/3;
}
.logo a{
    position: absolute;
    left: 43%;
    right: 50%;
    top: 5%;
}
.logo img{
    width: 80px;
    height: 80px;
}
.log-nav{
    grid-area:1/3/2/-1;
    position: absolute;
    right: 2%;
}
.log-nav img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.cate{
    grid-area:2/1/3/-1;
}
.category{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--point-color);
    padding: 30px 20px 0 20px;

}
.cate img{
    width: 40px;
    height: 40px;
}
.btn-nav span{
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--main-color);
    text-indent: -99999px;
    margin-bottom: 10px;
}

.btn-close span{
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--main-color);
    margin-bottom: 10px;
    transform: rotate(45deg);
}
.btn-close span:last-child{
    transform: rotate(-48deg) translateX(9px) translateY(-9px);
}

.par-main{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.main-nav{          
    z-index: 2;
    position: fixed;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: var(--back-color);
    padding-left: 10px;
}

.main-nav span{
    display: none;
}
.main-nav img{
    width: 40px;
    height: 40px;
}
.main-nav li{
    margin:10px 0;
}
.item05 .write{
    width: 40px;
    height: 40px;
}
.item06{
    display: none;
}


.location span{
    font-size: 0.3em;
}  
ul.home-nav{
    display: none;
    position: absolute;
    top: 92px;
    bottom: 0;
    width: 60vh;
    height: 100vh;
    z-index: 2;
    background: var(--back-color);
}
.home-nav li{
    border-bottom: 2px solid var(--point-color);
    text-align: center;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: center;
}
.home-nav li img{
    width: 50px;
    height: 50px;
    
}

.footer{
    display: none;
    color: var(--txt444);
}
.footer .container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-bottom: 100px;
}

.footer h1{
    margin-left: 1em;
    font-family: 'pacifico';
    font-size: 3em;
    color: var(--main-color);
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
.footer select{
    width: 100px;
    height: 2.5em;
    margin-top: 1em;
    margin-left: 1em;
}
.footer address{
    grid-area: 2/2/3/-1;
}
